<table>

    {%for key, value in competitors[0] %}
            <td> {{key}} </td> 
    {% endfor %}

    {% for competitor in competitors|sort((a, b) => b['score'] <=> a['score']) %}
        {% if competitor['score'] == 0 %}
            <tr class="tr-total-loser">
        {% elseif loop.index - 1 < 3%}
            <tr class="tr-winner"> 
        {% endif %}
        
        {% for key in competitor %}
              <td> {{key}} </td>
        {% endfor %}

        </tr>

    {% endfor %}
</table>

