<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <div id="content">
        {% block menu %}{% include('_shared/competitors-table.html.twig') %}{% endblock %}    
        {% block content %}{% endblock %}
        </div>


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
